.navbar{
    display: flex;
    justify-content: flex-end;
    
}
.navButtons{
    margin-right: 2rem; 
    display: flex;
    align-items: end;
}
.navButtons NavLink{
    text-decoration: none;
}
.navButtons:hover{
    color: dodgerblue;
}
.navbarLogo{
    margin-right: auto;
    padding-left: 1rem;
    align-items: start;
}
.active{
    font-weight: bolder;
    text-decoration:none;
}
.pending{
    text-decoration: none;
}
